/* .text-updater-node {
    height: 50px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
}
 */

.nodeStyle {
  width: 500px;
  height: 50px;
  background-color: var(--primary-color) !important;
  /* background-color:"#808080"; */
  color: var(--text-color) !important;

  /* background-color:#00888C; */
}
.card-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card-content {
  /* Additional styles for card content */
}
