.arrow-closed,
.arrow-open {
    border: solid #999;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    position: absolute;
    right: 10px;
}

.arrow-closed {
    top: 11px;
    right: 18px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-open {
    top: 16px;
    right: 18px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    font-size: 14px;
    cursor: pointer;
    margin-right: 15px;
    /* width: 150px; */
    width: fit-content;
}

/* .Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
} */

.Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 150px;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    font-size: 14px;
}