@media screen and (max-width: 768px) and (min-width: 320px) {
    .main-content {
        overflow-x: auto;
        height: calc(133vh - 50px);
    }
    .content-trace {
        /* background-color: blue; */
        width: calc(110vh - 20px);
        height: calc(100% - 50px);
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .main-content {
        /* overflow-y: auto; */
        /* max-height: calc(147vh - 50px); */
    }
    .content {
        width: 170vh;
        height: auto;
    }
    .dashboards {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: auto;
    }
}