@media screen and (max-width: 1240px) {
    .tracepage {
        width: calc(100vw - 72px);
        /* height: calc(100vh - 72px); */

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* position: fixed; */
        overflow-x: auto;
    }
    .trace-list {
        /* width: 100%; */ 
        height: calc(100vh - 72px);
        overflow-x: auto;

        display: flex;
        flex-direction: column;
    }
}