.resizable-grid-layout {
  background-color: #f0f0f0;
  padding: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.scrollable-container {
  max-height: 652px;
  overflow-y: auto;
  border: 1px solid #ccc;
  /* margin-top: 10px; */
  margin-top: 30px ;
  margin-right: 20px;
  margin-left: 20px;
  
}

.layout {
  margin-bottom: 0px;
}

.chart-container {
  min-width: 1000px;
   min-height: 1000px;

   } 

/* .chart-container {
display: flex;
   align-items: center;
   justify-content: center;
    min-width: 0;  
    min-height: 0;  
   overflow: hidden; 
   border: 1px solid #ccc;
} */