@media (max-width: 670px) and (orientation: landscape) {
  .index-container {
    overflow-y: auto;
    height: 120vh;
  }
}

@media (max-width: 915px) and (orientation: landscape) {
  .index-container {
    overflow-y: auto;
    height: 120vh;
  }
}

@media (max-width: 1025px) and (orientation: landscape) {
  .index-container {
    overflow-y: auto;
    height: 120vh;
  }
}

@media (max-width: 668px) and (orientation: landscape) {
  .index-container {
    overflow-y: auto;
    height: 120vh;
  }
}


@media (max-width: 741px) and (orientation: landscape) {
  .index-container {
    overflow-y: auto;
    height: 120vh;
  }
}
